<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>178131672601-qpbuik0sbfg5cqv85fuhrirlt505jmjl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.178131672601-qpbuik0sbfg5cqv85fuhrirlt505jmjl</string>
	<key>API_KEY</key>
	<string>AIzaSyBEZL-LNhoGbsa6d9u6Q75araVgH2dLgi8</string>
	<key>GCM_SENDER_ID</key>
	<string>178131672601</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.etechviral.verisMobile</string>
	<key>PROJECT_ID</key>
	<string>veris-5baa4</string>
	<key>STORAGE_BUCKET</key>
	<string>veris-5baa4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:178131672601:ios:fe0aa76fa06748c3955488</string>
</dict>
</plist>